*.gise
*.html
*.cfg
*.cmd
*.xmsgs
*.prj
iseconfig
*.log
*.exe
*.ini
isim
*.wdb
*.map
*.ncd
*.xml
*.xrpt
*.bgn
*.bit
_ngo
*.pad
*.stx
*.drc
*.pcf
*.ur
*.mrp
*.txt
*.ngm
*.bld
*.cmd_log
*.lso
*.ngc
*.ngd
*.ngr
*.par
*.ptwx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.csv
xst
xlnx*/
